body {
  background-color: #d1f0f3;
  font-family: "Verdana";
  font-size: 12px;
}

h1 {
  color: #4d4d4d;
  text-align: center;
  font-size: 18px;
}

p {
  font-size: 12px;
}

#repairs {
  margin: auto;
}

#logo {
  padding: 15px 14px 16px 14px;
}

#jobref {
  font-style: italic;
}

table {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 8px;
  border-spacing: 0px;
  background-color: #17b4c3;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table thead tr th {
  background-color: #17b4c3;
}

th {
  padding: 5px 4px 6px 4px;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

td {
  padding: 5px 4px 6px 4px;
  text-align: left;
  vertical-align: middle;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
